body{
    background-color: grey;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#interfaz{
    background-color: aliceblue;
    height: 600px;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 10px;
}

#armario{
    border: solid 1px rgb(144, 144, 144);
    padding: 10px;
    width: 90%;
    display: flex;
    justify-content: center;
}

#gafas{
    width: 80px;
    cursor: pointer;
    z-index: 5;
}

fieldset{
    width: 90%;
}

/*  */